body {
    font-family: 'Futura';
}

h1 {
    text-align: center;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
}

.flex-direction-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.game-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cell {
    height: 6rem;
    width: 6rem;
    background-color: #1990ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.white {
    height: 5em;
    width: 5em;
    background-color: #FFF;
    border-radius: 100%;
}

.yellow {
    height: 5em;
    width: 5em;
    background-color: yellow;
    border-radius: 100%;
}

.red {
    height: 5em;
    width: 5em;
    background-color: red;
    border-radius: 100%;

